body {
  background: #EBEBEB;
  text-align: center;
}

h1, h2, h3 {
 font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DC5555;
}

h2{
  color: #7d7d7d;
}

h3{
  color: #7d7d7d;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

a {
  text-decoration: none;
  color: #7d7d7d;
}

a:hover {
color: #DC5555;
}

#profile_pic {
  width: 200px;
}

.img-rounded {
  border-radius: 50%;
}

.item_pictures {
  width: 250px;
}

.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.list-inline > li {
  display: inline;
}

.list-inline {
  font-size: 40px;
}

ul {
  padding: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

#sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}
#page-content {
  margin-left: 300px;
}

#sidebar i {
  font-size: 20px;
}

#sidebar li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hobbies {
  text-align: center;
  vertical-align: middle;
}
